[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
filetype = "*"
requests = "<3.0.0,>=2.32.4"
prompt-toolkit = "<4.0.0,>=3.0.51"
pypdf = "<6.0.0,>=5.7.0"
tiktoken = "<1.0.0,>=0.11.0"
mistral-common = "<2.0.0,>=1.8.4"
validators = "<1.0.0,>=0.35.0"

[dev-packages]
pytest = "*"
commitizen = "*"
pytest-cov = "*"
pylint = "*"
black = "*"
isort = "*"
pyclean = "*"
scalene = "*"
mypy = "*"
pre-commit = "*"
autoflake = "*"
types-requests = "*"
nox = "*"
dotenv = "*"
