[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sounddevice = "~=0.4.6"
soundfile = "~=0.12.1"
boto3 = "~=1.26.129"
sseclient-py = "~=1.7.2"
requests = "~=2.31.0"
tiktoken = "~=0.3.3"
gptcli = {editable = true, path = "."}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
