[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tiktoken = "*"
pypdf = "*"
filetype = "*"
types-requests = "*"

[dev-packages]
pytest = "*"
commitizen = "*"
pytest-cov = "*"
pylint = "*"
black = "*"
isort = "*"
pyclean = "*"
scalene = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
