name: Quality checks and Tests on main branch.

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:

  code-quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Run the project defined pre-commit.
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --show-diff-on-failure

  tests:
    needs: [code-quality]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Display Python version
        run: python3 -c "import sys; print(sys.version)"
      - name: Install dependencies and run pytest
        env:
          DBC_GPTCLI_MISTRAL_API_KEY: ${{ secrets.DBC_GPTCLI_MISTRAL_API_KEY }}
          DBC_GPTCLI_OPENAI_API_KEY: ${{ secrets.DBC_GPTCLI_OPENAI_API_KEY }}
        run: |
          uv sync
          uv run pytest
